

.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6 {
  font-weight: normal;
  line-height: 1.4;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
  border-bottom: 1px solid #eee;
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
  border-bottom: 1px solid #eee;
}

.book .book-body .page-wrapper .page-inner section.normal code {
  color:#c7254e;
  background-color:#f9f2f4;
}



