.book .book-body .page-wrapper .page-inner section.normal {
.highlight pre, pre {
  color: #f00;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: blue;
}

h1 {
  border-bottom: 1px solid #eee;
}

h2 {
  border-bottom: 1px solid #eee;
}

code {
  background-color: rgba(0,0,0,0.44);
}

kbd {
  color: #f00;
  background-color: #000;
}
}